= render "shared/header"

.myprofile
  .myprofile-detail
    .myprofile-detail__icon
      -if @user.avatar?
        = image_tag @user.avatar.thumb.url
      -else
        = icon('fas', 'user-plus')
    .myprofile-detail__info
      %table
        %tr
          %th.name#name
            = @user.username

          %td.edit-button
            = link_to edit_user_registration_path(@post), method: :get, class: "profile-edit-button" do
              = icon("fas", "pencil-alt")
        %tr
          %th 好きな旅行先：
          %td
            = @user.fav_country
        %tr
          %th オススメスポット：
          %td
            = @user.fav_spot
        %tr
          -# %th ホームページ：
          -# %td
          -#   = @user.sns_hp
        %tr.introduction
          %th.introduction 自己紹介：
          %td.introduction
            = @user.introduction



  .myprofile-post
    = render "shared/mypost"
    = paginate @posts

= render "shared/footer"