=render "shared/header"

.newpass
  .newpass__left
    %h2 パスワード再設定
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
        .line
      .actions
        = f.submit "Send me reset password instructions"
  .newpass__right
    .links
      %p ログインが必要な方はこちらから
      %br
      .link
        = render "devise/shared/links"
        %br
        %p 新規登録が必要な方はこちらから
