%header
  .home
    = link_to "OnBoard", "/", data: {"turbolinks"=>false}

  %ul.menu
    -# %li.header__new
    -#   = link_to "New", "/posts/place", data: {"turbolinks"=>false}
    %li.menu__post
      =link_to "Post", "/posts/new", data: {"turbolinks"=>false}
    %li.menu__search
      = link_to "Search", "/posts/search", data: {"turbolinks"=>false}
    -if user_signed_in?
      %li.menu__mypage
        = link_to "My page",user_path(@user, id: current_user.id), data: {"turbolinks"=>false}
      %li.menu__logout
        = link_to "Log out", "/users/sign_out", method: :delete, data: {"turbolinks"=>false}
    -else
      %li.menu__signup
        = link_to "Sign up", "/users/sign_up", data: {"turbolinks"=>false}

      %li.menu__login
        = link_to "Log in", "/users/sign_in", data: {"turbolinks"=>false}

