.posts__main--left__top
  =image_tag @post.image.url
.posts__main--left__middle
  %table
    %tr
      %td
        国：
      %td
        = @post.country
    %tr
      %td
        都市：
      %td
        = @post.city
    %tr
      %td
        撮影方法：
      %td
        = @post.how

.posts__main--left__bottom
  = @post.discription

.posts__main--left__button
  = link_to "この投稿を編集する", edit_post_path(@post), method: :get, class: "edit-button"
  = link_to "この投稿を削除する", post_path(@post), method: :delete, class: "delete-button"


