= render "shared/header"

.about
  .about-main
    .profile
      .icon
        =icon('fas', 'user-circle')
      .detail
        %p 名前： Lindsey
        %p 好きなこと； 音楽・旅行・ネット・言語
        %p 嫌いなこと： 虫
        %p 座右の銘： "There is a will, there is a way."
    .story
      .detail
        %p 中学生の頃から海外に興味を持ち始める
        %p 高校は言語に力を入れている高校に通う
        %p 高校卒業後、アメリカの短期大学で会計学を専攻
        %p 帰国後、教育や美容関連の仕事に就く
        %p 新しいことに挑戦したいと思い、TECH:EXPERTに入校
      .icon
        = icon('fas', 'book-open')
    .globe
      .icon
        = icon('fas', 'globe')
      .detail
        %p アジア：韓国・中国（台湾・香港・マカオ）
        %p 北米：アメリカ・カナダ
        %p ヨーロッパ：ドイツ・フィンランド
        %p オセアニア：オースラリア
    .why
      .detail
        %p 情報が少ない旅行先に行った時、街には全く日本人らしき人を見かけなかったのに
        %p 日本語のサイトや日本語のガイドブックの場所に行くと日本の観光客のみ。
        %p ガイドブックに載っている”人気店”に行ってみると、そんな様子には見えない店内。
        %p その様子に違和感を感じたことから、よりローカルな情報・よりリアルな情報を
        %p 共有できる場所はないのかと思い始めました。
        
      .icon
        = icon('fas', 'question')











= render "shared/footer"