= render "shared/header"

.new
  -# .new-example
  -#   %p こんな風に書いてね
  -#   %p 詳細を詳しく書くと検索で探しやすくなるよ！
  .new-main
    -# %p こんな風に書いてね!詳細を詳しく書くと検索で探しやすくなるよ！

    .main
      -# .main__right
      = form_for(@post, url: posts_path) do |f|
        .preview
          = f.label :image, for: "upload-image", class: "image-preview" do
            - if @post.image.url.present?
              = image_tag @post.image.url, alt: "preview", class: "preview-image"
            -else
              = icon('fa', 'camera')
            = f.file_field :image, class: "hidden", id: "upload-image"
            -# = f.hidden_field :image_cache
            -# = f.label :image
        %br
        .field
          = f.label :タイトル
          = f.text_field :title, placeholder: "必須"
          %br

        .field
          = f.label :国
          -# = f.grouped_collection_select :country_id, Area.all, :countries, :name, :id, :name, include_blank: true
          = f.text_field :country, placeholder: "必須"
          -# %span  ※国名はバーの中から選択
          %br
        .field
          = f.label :都市
          = f.text_field :city, placeholder: "/"
          %br
        .field
          = f.label :撮影方法
          = f.text_field :how, placeholder: "/"
          %br
        .discription
          = f.label :概要
          = f.text_area :discription, maxlength: "250", placeholder: '写真について&#13;&#10;&#13;&#10;【例】&#13;&#10;いつ頃撮影したのか？&#13;&#10;そこまでのアクセス方法は？&#13;&#10;近くに〇〇という美味しいお店があった！などのプチ情報も！'.html_safe
        .bottom
          .submit
            = f.submit "投稿"

-# = render "shared/footer"

