= render "shared/header"

.posts
  .posts__username
    =link_to user_path(@user) do
      =insert_name(@post.user.username)
    -# = @post.user.username
    %span さんの投稿
  .posts__main
    .posts__main--left
      = render "shared/posts__mainleft"
    .posts__main--right
      = render "shared/posts__mainright"
  
  .posts__other
    = render "shared/other__posts"

  .posts__comments
    = render "shared/comments"
    
    // その他の投稿は一時的にコメントアウト

= render "shared/footer"